*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

ul{
  list-style: none;
}

 table thead tr  {
  --bs-table-bg: rgb(133, 136, 135);
 }
 table tbody tr:nth-child(even) {
  --bs-table-bg: rgb(111, 209, 180);
 }